@model EnglishVideo.Models.Word

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<h1>hii</h1>

<video controls="controls" poster="~/Content/Images/Posters/Harry1.jpg" preload="auto">
    <source src="~/Content/Video/Harry1.mkv" type='video/x-matroska'>
    <source src="~/Content/Video/Harry1.mp4" type="video/mp4"> <!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
    <source src="~/Content/Video/Harry1.webm" type="video/webm"> <!-- WebM/VP8 для Firefox4, Opera, и Chrome -->
    <track kind="subtitles" srclang="en" src="~/Content/Subtitles/Harry1.vtt" default label="English">
</video>

<div id="display">
    <span id="subt"></span>
    <p  @*onmouseover="ChangeOver(this)*@ ">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>


<div class="jumbotron">
    <h1>ASP.NET</h1>
    
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


@using (Html.BeginForm("GetWord", "Home", FormMethod.Post))
{
    @Html.LabelFor(model => model.English, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.English, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.LabelFor(model => model.NameVideo, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.NameVideo, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.LabelFor(model => model.Russia, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Russia, new { htmlAttributes = new { @class = "form-control" } })

    <input type="submit" value="Отправить" />




    <a href=" #"><img src="~/Content/Images/Posters/Harry1.jpg" width="200" /></a>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/subtitle.js"></script>

